## java specific
*.class

## cpp specific
*.cpp
*.h
*.out

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.old

## I like to keep notes in the directory
*.txt

## oop specific (ignore test files except those in testing dir)
Bar.java
Foo.java
Test.java
!testing/
!java_lang.cpp
!java_lang.h
